<section class="contacts">
  <h2 class="title">
    Вы всегда можете придти к нам в офис для личного знакомства
  </h2>
  <p class="title-description">
    мы с радостью вас встретим и обсудим условия работы
  </p>
  <div class="contacts__content">
    <div class="contacts__form">
      <form class="form">
        <div class="form__name form__inputs">
          <label class="form-label" for="name">
            Введите ваше имя
          </label>
          <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Например, Алексей"
          />
        </div>
        <div class="form__phone form__inputs">
          <label class="form-label" for="phone">
            Введите ваш телефон
          </label>
          <input
            type="tel"
            name="phone"
            class="form-input"
            placeholder="+7 (___) ___ - __ - __"
          />
        </div>
        <div class="form__buttons">
          <button class="btn-form btn-blue btn-reset">
            Получить постоянную работу
          </button>
          <p class="form__buttons-description">
            Нажимая на кнопку, вы даёте согласие на обработку персональных
            данных и соглашаетесь c
            <a href="#" class="description-link">
              политикой конфиденциальности
            </a>
          </p>
        </div>
      </form>
      <div class="info">
        <p>
          <b>Адрес офиса:</b>
          <br />
          г. Москва, ул. Лужнецкая наб. 2/4 стр. 17, офис 308
          <br />
          <br />
          <b>Контакты:</b>
          <br />
          8 (495) 126-24-89
          <br />
          info@domeo.ru
          <br />
          <br />
          <b>График работы:</b>
          <br />
          С 9.00 до 22.00
          <br />
          без выходных
        </p>
      </div>
    </div>
    <div class="contacts__map">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.578386996539!2d37.57083341604514!3d55.713700002474404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b78deae21f5%3A0x404d16d1ee9618cb!2z0JvRg9C20L3QtdGG0LrQsNGPINC90LDQsS4sIDIvNCDRgdGC0YDQvtC10L3QuNC1IDE3LCDQnNC-0YHQutCy0LAsIDExOTI3MA!5e0!3m2!1sru!2sru!4v1626516938597!5m2!1sru!2sru"
        style="border: 0;"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
