<section class="foot-form">
  <h2 class="title">Запишитесь прямо сейчас на онлайн собеседование</h2>
  <p class="title-description">
    мы перезвоним вам с уточняющими вопросами в течении 30 минут после заявки
  </p>
  <div class="foot-form__content">
    <div class="foot-form__content__info">
      <p class="content__info-title">Во время собеседования мы уточним:</p>
      <ul class="content__info-list">
        <li class="info-list-item">
          Какие проекты для вас предпочтительны территориально?
        </li>
        <li class="info-list-item">
          Какой у вас опыт в сфере комплектации/дизайна интерьера?
        </li>
        <li class="info-list-item">Желаемый уровень загрузки?</li>
      </ul>
      <div class="info">
        <svg width="40" height="40">
          <use xlink:href="/img/sprite.svg#info"></use>
        </svg>
        <p class="info__text">
          Если вас устроят все условия работы, вы можете приступить к работе на
          следующий день
        </p>
      </div>
    </div>
    <div class="foot-form__content-form">
      <form class="form">
        <p class="content-form-title">
          Заполните форму, чтобы записаться на онлайн собеседование
        </p>
        <div class="form__name form__inputs">
          <label class="form-label" for="name">
            Введите ваше имя
          </label>
          <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Например, Алексей"
          />
        </div>
        <div class="form__phone form__inputs">
          <label class="form-label" for="phone">
            Введите ваш телефон
          </label>
          <input
            type="tel"
            name="phone"
            class="form-input"
            placeholder="+7 (___) ___ - __ - __"
          />
        </div>
        <div class="form__buttons">
          <button class="btn-form btn-blue btn-reset">
            Записаться на собеседование
          </button>
          <p class="form__buttons-description">
            Нажимая на кнопку, вы даёте согласие на обработку персональных
            данных и соглашаетесь c
            <a href="#" class="description-link">
              политикой конфиденциальности
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
