<section class="get-job">
  <h2 class="title">
    Устройтесь на работу вашей мечты за 4 шага
  </h2>
  <p class="title-description">
    самое главное начать, ведь места ограничены
  </p>
  <ul class="get-job__list">
    <li class="get-job__list-item">
      <p class="get-job__list-item-text">
        Отправьте заявку на сайте
      </p>
      <svg width="30" height="30">
        <use xlink:href="/img/sprite.svg#request"></use>
      </svg>
      <svg class="get-job__list-num" width="41" height="47">
        <use xlink:href="/img/sprite.svg#01"></use>
      </svg>
    </li>
    <li class="get-job__list-item">
      <p class="get-job__list-item-text">
        Пройдите собеседование по телефону
      </p>
      <svg width="30" height="30">
        <use xlink:href="/img/sprite.svg#phone"></use>
      </svg>
      <svg class="get-job__list-num" width="41" height="47">
        <use xlink:href="/img/sprite.svg#02"></use>
      </svg>
    </li>
    <li class="get-job__list-item">
      <p class="get-job__list-item-text">
        Пройдите собеседование в офисе
      </p>
      <svg width="30" height="30">
        <use xlink:href="/img/sprite.svg#chair"></use>
      </svg>
      <svg class="get-job__list-num" width="41" height="47">
        <use xlink:href="/img/sprite.svg#03"></use>
      </svg>
    </li>
    <li class="get-job__list-item">
      <p class="get-job__list-item-text">
        Приступите к работе в Domeo
      </p>
      <svg width="30" height="30">
        <use xlink:href="/img/sprite.svg#backpack"></use>
      </svg>
      <svg class="get-job__list-num" width="41" height="47">
        <use xlink:href="/img/sprite.svg#04"></use>
      </svg>
    </li>
  </ul>
</section>
