<header class="header">
  <div class="header-up">
    <div class="header-up__left">
      <a class="logo-link"></a>
      <span class="logo-title">
        Прямые работодатели для подборщиков мебели
      </span>
    </div>
    <div class="header-up__right">
      <a href="tel:+74956629523" class="header-up__phone">+7 (495) 662-95-23</a>
      <button class="header-button btn-reset" data-target="modal">
        Заказать обратный звонок
      </button>
      <button class="header-phone btn-reset for-mobile"></button>
    </div>
  </div>
  <div class="header__content">
    <div class="header__content-left">
      <h1 class="header-title">
        Вакансия:
        <br />
        комплектатор интерьера
      </h1>
      <p class="header__description">
        Работа с лучшими условиями в отрасли с «белой» зарплатой от 150 000 ₽ до
        300 000 ₽ в Domeo!
      </p>
      <div class="header__content-right for-mobile -mob"></div>
      <div class="header__bonuses">
        <div class="header__bonuses-item">
          <div class="ico">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <span class="item-text">
            Зарплата без задержек 2 раза в месяц
          </span>
        </div>
        <div class="header__bonuses-item">
          <div class="ico">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <span class="item-text">
            Официальное трудоустройство
          </span>
        </div>
        <div class="header__bonuses-item">
          <div class="ico">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <span class="item-text">
            Полный соц. пакет и возможность роста до руководителя отдела
          </span>
        </div>
        <div class="header__bonuses-item">
          <div class="ico">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <span class="item-text">
            Работайте в своем темпе без простоя в заказах
          </span>
        </div>
      </div>
      <div class="header__button">
        <p class="header-button-description">
          Узнайте прямо сейчас все актуальные вакансии с белой зарплатой до 300
          000₽
        </p>
        <button class="main-button btn-blue btn-reset" data-target="modal">
          Узнать
          <br />
          все актуальные вакансии
        </button>
      </div>
    </div>
    <div class="header__content-right -main"></div>
  </div>
</header>
