<div class="hero">
  <h2 class="title">
    В Domeo лучшие условия для работы в сфере комплектации интерьера
  </h2>
  <p class="title-description">
    компенсируем высокие требования, лучшими условиями
  </p>
  <ul class="hero-list">
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#01"></use>
        </svg>
      </div>
      <p class="item-text">
        Возможность работать попроектно в удобном для Вас графике
      </p>
    </li>
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#02"></use>
        </svg>
      </div>
      <p class="item-text">
        Нет потолка доходов. Мы хотим, чтобы вы достойно зарабатывали
      </p>
    </li>
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#03"></use>
        </svg>
      </div>
      <p class="item-text">
        «Белая» оплата — возможность брать кредиты или ипотеку
      </p>
    </li>
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#04"></use>
        </svg>
      </div>
      <p class="item-text">
        Интересные и смелые проекты для реализации творческого потенциал
      </p>
    </li>
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#05"></use>
        </svg>
      </div>
      <p class="item-text">
        Карьерный рост до: руководителя группы или директора департамента
      </p>
    </li>
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#06"></use>
        </svg>
      </div>
      <p class="item-text">
        Прямой контакт с руководством компании для решения любых вопросов
      </p>
    </li>
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#07"></use>
        </svg>
      </div>
      <p class="item-text">
        Особая корпоративная среда: йога по утрам, пробежки, сумасшедшие
        корпоративы
      </p>
    </li>
    <li class="list-item">
      <div class="item-number">
        <svg width="45" height="50">
          <use xlink:href="/img/sprite.svg#08"></use>
        </svg>
      </div>
      <p class="item-text">
        Дружный молодой коллектив. Амбициозный проект
      </p>
    </li>
  </ul>
  <div class="info">
    <svg width="40" height="40">
      <use xlink:href="/img/sprite.svg#info"></use>
    </svg>
    <p class="info__text">
      Мы понимаем, что хорошие исполнители хотят получать достойную оплату и
      уважительное отношение к себе и своему труду, по этому мы делаем огромные
      усилия для комфортных условий работы в нашей компании
    </p>
  </div>
  <div class="hero__work">
    <h2 class="title">
      Ваша работа будет состоять из 5 этапов
    </h2>
    <p class="title-description">
      на каждом этапе вы взаимодействуете с ...
    </p>
    <div class="hero__work-content">
      <ul class="content__list">
        <li class="content__list-item">
          <span class="list-item-title">
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_left"></use>
            </svg>
            01
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_right"></use>
            </svg>
          </span>
          <p class="list-item-text">
            Получаете готовый дизайн проект квартиры
          </p>
        </li>
        <li class="content__list-item">
          <span class="list-item-title">
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_left"></use>
            </svg>
            02
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_right"></use>
            </svg>
          </span>
          <p class="list-item-text">
            Подбираете чистовые материалы и мебель под дизайн проект исходя из
            пожеланий и бюджета клиента
          </p>
        </li>
        <li class="content__list-item">
          <span class="list-item-title">
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_left"></use>
            </svg>
            03
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_right"></use>
            </svg>
          </span>
          <p class="list-item-text">
            Согласовываете ведомость материалов и мебели рекомендованными к
            покупке с заказчиком
          </p>
        </li>
        <li class="content__list-item">
          <span class="list-item-title">
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_left"></use>
            </svg>
            04
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_right"></use>
            </svg>
          </span>
          <p class="list-item-text">
            Организовываете доставку на объект
          </p>
        </li>
        <li class="content__list-item">
          <span class="list-item-title">
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_left"></use>
            </svg>
            05
            <svg width="36" height="10">
              <use xlink:href="/img/sprite.svg#line_right"></use>
            </svg>
          </span>
          <p class="list-item-text">
            Сдаёте итоговую работу
          </p>
        </li>
      </ul>
      <div class="hero__work-image-wrapper">
        <img src="./img/image_work.png" alt="" class="image-wrapper__img" />
      </div>
    </div>
    <div class="info">
      <svg width="40" height="40">
        <use xlink:href="/img/sprite.svg#info"></use>
      </svg>
      <p class="info__text">
        Чем больше объектов вы укомплектовываете, тем больше вы зарабатываете
      </p>
    </div>
  </div>
</div>
