<section class="media">
  <h2 class="title">Честность — краеугольный камень общения</h2>
  <p class="title-description">
    Не обманываем с зарплатой и другими договоренностями
  </p>
  <div class="media__content">
    <div class="content__video">
      <p class="video__description">
        Узнайте больше о компании Domeo за 1 минуту
      </p>
      <div class="video__link"></div>
    </div>
    <div class="content__info">
      <p class="info-text">
        Domeo работает с 2010 года.
        <br />
        <br />
        За это время мы создали бизнес-структуру, которая работает как дорогие
        швейцарские часы.
        <br />
        <br />
        Секрет нашего успеха в лучших условиях и высокой зарплате для лучших
        сотрудников, в честности и прозрачности с людьми.
        <br />
        <br />
        Мы ценим сотрудников с большим опытом, а также создаём все условия для
        качественной работы.
        <br />
        <br />
        Присоединяйтесь к нам прямо сейчас!
      </p>
      <button class="media-btn btn-blue btn-reset" data-target="modal">
        Присоединиться к Domeo
      </button>
    </div>
  </div>
  <div class="info">
    <svg width="40" height="40">
      <use xlink:href="/img/sprite.svg#info"></use>
    </svg>
    <p class="info__text">
      Мы ищем людей на постоянную работу. Нам нужны мастера для сотрудничества
      на долгие годы
    </p>
  </div>
</section>
