<section class="quiz">
  <h2 class="title">Рассчитайте вашу будущую зарплату в Domeo</h2>
  <p class="title-description">
    ответьте на 2 ключевых вопроса по, которым мы определим вашу точную зарплату
  </p>

  <div class="quiz__forms">
    <form class="quiz__form oneQuiz">
      <h3 class="quiz__form-title">
        Сколько объектов вы готовы укомплектовывать в месяц?
      </h3>
      <p class="quiz__form-description">
        в выбранной ранее специализации
      </p>
      <div class="quiz__form-categories">
        <label class="check_label" for="one">
          <input type="radio" name="check" id="one" class="check" required />
          1-5
          <span></span>
        </label>
        <label class="check_label" for="two">
          <input type="radio" name="check" id="two" class="check" required />
          5-10
          <span></span>
        </label>
        <label class="check_label" for="three">
          <input type="radio" name="check" id="three" class="check" required />
          Более 10
          <span></span>
        </label>
      </div>
      <div class="quiz__buttons">
        <button class="quiz-btn-go btn-blue btn-reset">Далее</button>
      </div>
    </form>
    <form class="quiz__form twoQuiz">
      <h3 class="quiz__form-title">
        Сколько у вас лет опыта?
      </h3>
      <p class="quiz__form-description">
        в комплектации мебели
      </p>
      <div class="quiz__form-categories">
        <label class="check_label" for="four">
          <input type="radio" name="check" id="four" class="check" required />
          До 1 года
          <span></span>
        </label>
        <label class="check_label" for="five">
          <input type="radio" name="check" id="five" class="check" required />
          От 2 до 3 лет
          <span></span>
        </label>
        <label class="check_label" for="six">
          <input type="radio" name="check" id="six" class="check" required />
          От 3 и более
          <span></span>
        </label>
      </div>
      <div class="quiz__buttons">
        <button class="quiz-btn btn-transparent btn-reset">Назад</button>
        <button class="quiz-btn-go btn-blue btn-reset">Далее</button>
      </div>
    </form>
    <form class="quiz__form threeQuiz">
      <h3 class="quiz__form-title">
        Сколько объектов вы укомплектовали?
      </h3>
      <p class="quiz__form-description">
        в выбранной ранее специализации
      </p>
      <div class="quiz__form-categories">
        <label class="check_label" for="four">
          <input type="radio" name="check" id="seven" class="check" required />
          От 1 - 10
          <span></span>
        </label>
        <label class="check_label" for="five">
          <input type="radio" name="check" id="eight" class="check" required />
          От 10 - 50
          <span></span>
        </label>
        <label class="check_label" for="six">
          <input type="radio" name="check" id="nine" class="check" required />
          Более 50
          <span></span>
        </label>
      </div>
      <div class="quiz__buttons">
        <button class="quiz-btn btn-transparent btn-reset">Назад</button>
        <button class="quiz-btn-go btn-blue btn-reset">Далее</button>
      </div>
    </form>
    <form class="quiz__form fourQuiz">
      <h3 class="quiz__form-title">
        Остался последний шаг
      </h3>
      <p class="quiz__form-description">
        заполните форму для расчет вашей будущей зарплаты
      </p>

      <div class="quiz__inputs">
        <div class="form__name form__inputs">
          <label class="form-label" for="name">
            Введите ваше имя
          </label>
          <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Например, Алексей"
          />
        </div>
        <div class="form__phone form__inputs">
          <label class="form-label" for="phone">
            Введите ваш телефон
          </label>
          <input
            type="tel"
            name="phone"
            class="form-input"
            placeholder="+7 (___) ___ - __ - __"
          />
        </div>
      </div>

      <div class="form__buttons">
        <button class="btn-form btn-blue btn-reset">
          Получить постоянную работу
        </button>
        <p class="form__buttons-description">
          Нажимая на кнопку, вы даёте согласие на обработку персональных данных
          и соглашаетесь c
          <a href="#" class="description-link">политикой конфиденциальности</a>
        </p>
      </div>
    </form>
  </div>
</section>
